# flask essentials
flask
flask-login
flask-security-too[fsqla, mfa]

# MySQL and a dependent library
flask_sqlalchemy
pymysql
cryptography
flask-marshmallow
marshmallow-sqlalchemy


# Password hashing
argon2_cffi
# Password Strength Checker
zxcvbn

# Restful API
Flask-RESTful

# Test
pytest
# API Test Framework
tavern

# Guideline Enforcement
pylint
flake8
mccabe


# SAST
bandit
# pyre

## pytest-cov
# flask_mysqldb
# flask-wtf