# flask essentials
flask
flask-login
flask-security-too[fsqla, mfa]

# MySQL and a dependent library
flask_sqlalchemy
pymysql
cryptography
flask-marshmallow
marshmallow-sqlalchemy
flask-migrate

# Password hashing
argon2_cffi

# Password Strength Checker
zxcvbn

# Restful API
Flask-RESTful

# Test
pytest
pytest-html

# Guideline Enforcement
pylint
flake8
flake8-html

# SAST
bandit